.card a {
  display: block;
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    background-color: $color-decoration;
    width: 63px;
    height: 63px;
    right: 0;
    bottom: 5px;
    z-index: 2;
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/sprite/icon-arrow.svg");
    background-repeat: no-repeat;
    width: 6px;
    height: 9px;
    right: 27px;
    bottom: 32px;
    z-index: 3;
  }

  &:hover img,
  &:focus img {
    transition: all 0.5s ease-in-out;
    filter: saturate(100%) blur(1px);
    opacity: 0.5;
  }

  &:hover a::before,
  &:focus a::before {
    transition: all 0.5s ease-in-out;
    background-color: $color-special-grey;
  }

  &:active img {
    transition: all 0.5s ease-in-out;
    filter: grayscale(100%) blur(2px);
    opacity: 0.6;
  }

  &:active a::before {
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
  }
}

.card h3 {
  @include font($title-font, 400);
  position: absolute;
  font-size: 20px;
  line-height: 30px;
  color: $color-basic-white;
  z-index: 3;
  margin: 48px 44px;
  padding-right: 33%;

  @media ($tablet-max-width) {
    margin: 39px 44px;
    padding-right: 64%;
  }

  @media ($mobile-max-width) {
    margin: 20px 35px;
    padding-right: 10%;
  }
}

.card--spares h3 {
  @media ($tablet-max-width) {
    margin: 50px 44px;
  }

  @media ($mobile-max-width) {
    margin: 30px 36px;
    padding-right: 18%;
  }
}

.card img {
  display: inline-block;
  filter: saturate(0%);
  width: 370px;
  height: 620px;
  opacity: 0.2;

  @media ($desktop-1440-width) {
    width: 100%;
    height: auto;
  }

  @media ($tablet-max-width) {
    min-width: 715px;
    height: 256px;
    width: 100%;
    object-fit: cover;
  }

  @media ($mobile-max-width) {
    min-width: 290px;
    min-height: 256px;
  }
}
