.intro {
  background-color: $color-dark-background;
  background-image: url("../img/intro/intro-bg_desktop.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro/intro-bg_desktop@2x.png");
  }

  @media ($tablet-max-width) {
    background-image: url("../img/intro/intro-bg_tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/intro-bg_tablet@2x.png");
    }
  }

  @media ($mobile-max-width) {
    background-image: url("../img/intro/intro-bg_mobile.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/intro-bg_mobile@2x.png");
    }
  }
}

.intro__wrapper {
  display: block;
  padding: 316px calc(50% - 711px) 275px;
  overflow: hidden;

  @media ($desktop-1440-width) {
    padding: 316px 25px 275px;
  }

  @media ($tablet-max-width) {
    padding: 188px 32.5% 164px 88px;
  }

  @media ($mobile-max-width) {
    padding: 286px 15px 71px;
  }
}

.intro__content {
  position: relative;
  max-width: 718px;

  &::before {
    position: absolute;
    content: "";
    width: 611px;
    height: 487px;
    right: 0;
    top: -43px;
    transform: translateX(114%);
    background-image: url("../img/intro/intro-trigon_desktop.svg");
    background-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    content: "";
    width: 705px;
    height: 515px;
    right: 0;
    top: -58px;
    transform: translateX(110%);
    z-index: 2;
    background-image: url("../img/intro/intro_desktop.png");
    background-size: 705px 515px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/intro_desktop@2x.png");
    }
  }

  @media ($desktop-1200-width) {
    &::before,
    &::after {
      right: 10%;
    }
  }

  @media ($tablet-max-width) {
    max-width: none;

    &::before {
      width: 314px;
      height: 385px;
      right: -59%;
      top: -106px;
      transform: none;
      background-image: url("../img/intro/intro-trigon_tablet.svg");
      background-size: 314px 385px;
    }

    &::after {
      width: 260px;
      height: 340px;
      right: -59%;
      top: -74px;
      transform: none;
      background-image: url("../img/intro/intro_tablet.png");
      background-size: 260px 340px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/intro/intro_tablet@2x.png");
      }
    }
  }

  @media ($mobile-max-width) {
    width: 100%;

    &::before {
      width: 153px;
      height: 368px;
      right: -15px;
      top: -217px;
      background-image: url("../img/intro/intro-trigon_mobile.svg");
      background-size: 153px 368px;
    }

    &::after {
      width: 294px;
      height: 220px;
      right: -15px;
      top: -195px;
      background-image: url("../img/intro/intro_mobile.png");
      background-size: 294px 220px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/intro/intro_mobile@2x.png");
      }
    }
  }
}

.intro__content b {
  display: none;

  @media ($mobile-max-width) {
    display: block;
  }
}

.intro__content span {
  @media ($mobile-max-width) {
    display: none;
  }
}

.intro__content h2 {
  font-family: "Roboto Condensed", "Arial Black", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $color-basic-white;
  margin: 0;

  @media ($tablet-max-width) {
    font-size: 60px;
    line-height: 70px;
  }

  @media ($mobile-max-width) {
    position: relative;
    font-size: 40px;
    line-height: 47px;
    z-index: 3;
  }
}

.intro__content p {
  @include font($main-font, 400);
  position: relative;
  font-size: 22px;
  line-height: 34px;
  color: $color-basic-white;
  margin: 26px 0;
  padding-left: 100px;

  &::before {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    left: 5px;
    top: 18px;
    background-color: $color-basic-white;
  }

  @media ($tablet-max-width) {
    font-size: 18px;
    line-height: 29px;
    margin: 28px 0;
    padding-left: 50px;

    &::before {
      width: 32px;
      left: 2px;
      top: 16px;
    }
  }

  @media ($mobile-max-width) {
    font-size: 16px;
    line-height: 25px;
    margin: 26px 0;
  }
}

.intro__content a {
  display: block;
  position: relative;
  font-family: "Roboto Condensed", "Arial Black", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  width: 56%;
  color: $color-basic-white;
  border: 1px solid $color-decoration;
  background-color: $color-decoration;
  padding: 16px 26px;
  margin: 46px auto 0 14%;
  z-index: 1;

  @media ($tablet-max-width) {
    width: 378px;
    margin: 54px 0 0 52px;
  }

  @media ($mobile-max-width) {
    width: 100%;
    margin: 41px 0 0;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: $color-special-grey;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
    transition: all 0.4s ease;
  }

  &:hover,
  &:focus {
    border: 1px solid $color-special-grey;
  }

  &:active {
    opacity: 0.8;
  }

  &:hover::after,
  &:focus::after {
    transform: scale(1, 1);
    transition: all 0.4s ease-out;
  }
}
