.navigation {
  @media ($tablet-max-width) {
    padding: 19px 25px 35px;
  }

  @media ($mobile-max-width) {
    padding: 0;
  }
}

.navigation__accordion-list {
  display: grid;
  grid-template-columns: 60% 34%;
  gap: 6%;
  list-style: none;
  padding: 0;
  margin: 0;

  @media ($desktop-1200-width) {
    grid-template-columns: 1fr 50%;
  }

  @media ($tablet-max-width) {
    grid-template-columns: 1fr 47.5%;
  }

  @media ($mobile-max-width) {
    display: block;
  }
}

.navigation__accordion-item {
  display: block;

  @media ($mobile-max-width) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-color: $color-dark-opacity-02;
      width: 100%;
      height: 1px;
      left: 0;
      right: 0;
      top: 0;
    }
  }
}

.navigation__accordion-item h3 {
  @include font($title-font, 400);
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-dark-background;
  margin: 20px 0 25px;

  @media ($mobile-max-width) {
    position: relative;
    margin: 0;
    padding: 28px 15px;
  }
}

.navigation__button-wrapper {
  @media ($mobile-max-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.navigation__button--wrapper {
  @media ($mobile-max-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.navigation__button {
  display: none;

  @media ($mobile-max-width) {
    display: block;
    position: relative;
    border: none;
    background-color: transparent;
    width: 16px;
    height: 16px;
    margin: auto 16px;
    padding: 4px;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/sprite/icon-plus.svg");
      width: 16px;
      height: 16px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
    }
  }
}

.navigation__accordion-item a {
  @include font($main-font, 400);
  display: inline-block;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  color: $color-dark-opacity-05;
  margin: 0;

  @media ($mobile-max-width) {
    padding: 0 15px;
  }

  &:hover,
  &:focus {
    transition: all 0.3s ease-in-out;
    color: $color-decoration;
    text-decoration: underline;
  }

  &:active {
    color: $color-special-grey;
    text-decoration: none;
  }
}

.navigation__category-list {
  display: block;
  columns: 2;

  @media ($desktop-1200-width) {
    columns: 1;
  }
}

.navigation__category-list li {
  display: block;
  margin-right: 50px;

  @media ($desktop-1440-width) {
    margin-right: 10px;
  }
}

.navigation__inner-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media ($mobile-max-width) {
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 26px;
  }

  @media ($mobile-max-width) {
    display: none;
  }
}

.navigation__accordion-item--active .navigation__inner-list {
  @media ($mobile-max-width) {
    display: block;
  }
}

.navigation__accordion-item--active .navigation__button {
  &::after {
    background-image: url("../img/sprite/icon-minus.svg");
    width: 16px;
    height: 1px;
  }
}

.nojs .navigation__inner-list {
  @media ($mobile-max-width) {
    display: block;
  }
}

.nojs .navigation__button {
  @media ($mobile-max-width) {
    display: none;
  }
}
