.popup-form__content {
  padding: 30px 37px 35px;
}

.popup-form__input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-top: 30px;
}

.popup-form__content button[type="button"] {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  background-color: $color-decoration;
  padding: 16px;
  right: 10px;
  top: 010px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 19px;
    right: 7px;
    width: 24px;
    height: 1px;
    background-color: $color-basic-white;
  }

  &::before {
    transform: rotate(46deg);
  }

  &::after {
    transform: rotate(-46deg);
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    background-color: $color-special-grey;
  }

  &:active::before,
  &:active::after {
    background-color: $color-dark-opacity-05;
  }
}

.popup-form__content h3 {
  @include font($title-font, 400);
  font-size: 28px;
  line-height: 39px;
  color: $color-basic-white;
  margin: 0 0 12px;
}

.popup-form__content span {
  @include font($main-font, 400);
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: $color-basic-white;
  margin: 12px 0;
  margin-right: 4%;
}

.popup-form__content input {
  @include font($main-font, 400);
  display: block;
  font-size: 16px;
  line-height: 22px;
  border: none;
  color: $color-basic-white;
  background-color: $color-white-opacity-01;
  padding: 15px 25px;
}

.popup-form__content input::placeholder {
  color: $color-basic-white;
}

.popup-form__content textarea {
  @include font($main-font, 400);
  display: block;
  font-size: 16px;
  line-height: 22px;
  border: none;
  color: $color-basic-white;
  background-color: $color-white-opacity-01;
  height: 104px;
  resize: none;
  padding: 15px 25px;
}

.popup-form__content textarea::placeholder {
  color: $color-basic-white;
}

.popup-form__checkbox-wrapper {
  position: relative;
}

.popup-form__content input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  right: 50%;
  bottom: 0;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popup-form__content input[type="checkbox"] + label {
  @include font($main-font, 400);
  display: block;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  color: $color-white-opacity-08;
  padding-left: 50px;
  padding-top: 6px;
  padding-right: 10%;

  &::before {
    position: absolute;
    content: "";
    background-color: transparent;
    border: 1px solid $color-basic-white;
    width: 16px;
    height: 16px;
    left: 3px;
    top: 9px;
  }
}

.popup-form__content input[type="checkbox"]:checked + label {
  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/sprite/icon-checked.svg");
    background-repeat: no-repeat;
    width: 8px;
    height: 6px;
    left: 7px;
    top: 15px;
  }
}

.popup-form__content input:hover,
.popup-form__content input:focus,
.popup-form__content textarea:hover,
.popup-form__content textarea:focus {
  outline: 2px solid $color-white-opacity-08;
  outline-offset: -2px;
}

.popup-form__content input[type="checkbox"]:hover + label::before,
.popup-form__content input[type="checkbox"]:focus + label::before {
  outline: 2px solid $color-white-opacity-08;
}

.popup-form__content button[type="submit"] {
  position: relative;
  font-family: "Roboto Condensed", "Arial Black", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-basic-white;
  background-color: transparent;
  border: 1px solid $color-basic-white;
  border-radius: 5px;
  z-index: 1;
  padding: 14px 26px;

  &::after {
    position: absolute;
    content: "";
    background-color: $color-white-opacity-08;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
    transition: all 0.4s ease;
  }

  &:hover,
  &:focus {
    border: 1px solid $color-white-opacity-08;
    color: $color-decoration;
  }

  &:active {
    border: 1px solid $color-white-opacity-03;
    color: $color-basic-white;
  }

  &:hover::after,
  &:focus::after {
    transform: scale(1, 1);
    transition: all 0.4s ease-out;
  }

  &:active::after {
    opacity: 0.3;
  }
}
