.services {
  background-color: $color-dark-background;
  padding: 70px 0 122px;
}

.services__wrapper {
  @media ($desktop-1440-width) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media ($tablet-max-width) {
    padding: 0 25px;
  }

  @media ($mobile-max-width) {
    padding: 0 15px;
  }
}

.services__wrapper h2 {
  @include font($title-font, 400);
  font-size: 36px;
  line-height: 51px;
  color: $color-basic-white;
  margin: 20px 0 53px;

  @media ($tablet-max-width) {
    line-height: 45px;
  }

  @media ($mobile-max-width) {
    font-size: 28px;
    line-height: 39px;
  }
}

.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;

  @media ($tablet-max-width) {
    grid-template-columns: 1fr;
    gap: 46px;
  }

  @media ($mobile-max-width) {
    gap: 30px;
  }
}
