// Colors //

$color-basic-black: #000000;
$color-basic-white: #ffffff;
$color-special-grey: #788891;
$color-logo-dark: #203c42;
$color-decoration:#00b2ff;
$color-dark-background: #1b2d37;
$color-text-dark: #666666;
$color-border: #ebebeb;
$color-socials: #cdcdcd;
$color-input-error-border: rgb(255, 0, 0);
$color-input-error-bg: rgb(230, 101, 101);

// Opacity //

$color-dark-opacity-02: rgba(98, 105, 98, 0.2);
$color-dark-opacity-05:rgba(27, 45, 55, 0.5);
$color-white-opacity-01: rgba(255, 255, 255, 0.1);
$color-white-opacity-03: rgba(255, 255, 255, 0.3);
$color-white-opacity-08: rgba(255, 255, 255, 0.8);

// Fonts

$main-font: "PT Mono", "Courier", monospace;
//400

$title-font: "Roboto Condensed", "Arial", sans-serif;
//400

//"Roboto Condensed", "Arial Black", sans-serif;
//700

//"Roboto", "Geneva", sans-serif
//500

// Container //

$min-width: 320px;
$desktop-1600-width: "max-width: 1600px";
$desktop-1440-width: "max-width: 1440px";
$desktop-1200-width: "max-width: 1200px";
$tablet-max-width: "max-width: 1023px";
$mobile-max-width: "max-width: 767px";
